@model VisTuApp.Models.Tubulacao

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Excluir</h1>

<h3>Tem certeza de que quer excluir essa tubulação?</h3>
<div>
    <h4>Tubulação</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeTubulacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeTubulacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
